{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "node scripts/filter-symlinks.mjs | xargs prettier --write"
  ],
  "*.{json,md,html,css}": [
    "node scripts/filter-symlinks.mjs | xargs prettier --write"
  ]
}